body {
  margin: 0;
  font-family: var(--font-family);
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.50rem 1rem !important;
}
.p-datatable .p-datatable-thead > tr > .p-filter-column {
  padding: 0.50rem 1rem !important;
}
